.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: unset;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: unset;
}
                                     
.btn-toolbar {
    display: block;
}

.option-group {
    padding-bottom: 10px;
}

.alert {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

#maze {
    margin-top: 10px;
    border: 1px solid #000000;
}

.github-logo {
    color: #000000;
    padding-top: 10px;
    width: 25px;
}