.option-group {
    padding-bottom: 10px;
}

#warning, #info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

#maze {
    margin-top: 10px;
    border: 1px solid #000000;
    width: 100%;
}

.github-logo {
    color: #000000;
    padding-top: 10px;
    width: 25px;
}